{% extends "main.html" %}
{% load static %}
{% block class %}
sub_page
{% endblock class%}
{% block img %}
<div class="bg-box">
  <img src="{% static 'images/bg57.jpg' %}" alt="">
</div>
{% endblock img%}

{% block main %}

  

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png'%}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                We Are SpeedyBites
              </h2>
            </div>
            <p>
              At SpeedyBites, we are passionate about crafting exceptional culinary experiences that bring people together. With a commitment to quality ingredients, innovative recipes, and impeccable service, we strive to create memorable moments for our valued guests. Our journey began with a simple vision: to offer delicious food in a warm and welcoming atmosphere. Today, that vision remains at the heart of everything we do. Whether you're joining us for a casual meal with friends or a special celebration with loved ones, we invite you to savor the flavors, share laughter, and make lasting memories at [Your Restaurant Name]. Welcome to our table.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock main %}
 